td{
    background-color: white;
    border: 5px solid black;
}

#grid{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

/*0 WALL CELLS*/
.nowalls{
    border-style: hidden hidden hidden hidden;
}

/*1 WALL CELLS*/
.top{
    border-style: solid hidden hidden hidden;
}
.right{
    border-style: hidden solid hidden hidden;
}
.bot{
    border-style: hidden hidden solid hidden;
}
.left{
    border-style: hidden hidden hidden solid;
}

/*2 WALLS CELLS*/
.topright{
    border-style: solid solid hidden hidden;
}
.topbot{
    border-style: solid hidden solid hidden;
}
.topleft{
    border-style: solid hidden hidden solid;
}
.rightbot{
    border-style: hidden solid solid hidden;
}
.rightleft{
    border-style: hidden solid hidden solid;
}
.botleft{
    border-style: hidden hidden solid solid;
}

/*3 WALLS CELLS*/
.toprightbot{
    border-style: solid solid solid hidden;
}
.toprightleft{
    border-style: solid solid hidden solid;
}
.rightbotleft{
    border-style: hidden solid solid solid;
}

