#row0{
    background-color: #1b1b1b;
}
#cell0{
    background-color: #1b1b1b;
}

#lastrow{
    background-color: #1b1b1b; 
}
#lastcell{
    background-color: #1b1b1b;
}

#grid{
    margin-left: auto;
    margin-right: auto;
}